---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="en">
  <head>
    <BaseHead title={`${SITE_TITLE} | About`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <h1>About Me</h1>
        <p>
          Reliable and motivated software engineering student with strong
          expertise in full-stack development, mobile applications, and IoT
          systems. Passionate about developing applications and problem-solving.
        </p>
        <h2>My Skills</h2>
        <ul>
          <li>PHP</li>
          <li>.NET</li>
          <li>Java</li>
          <li>Flutter</li>
          <li>React</li>
          <li>Angular</li>
          <li>Node.js</li>
          <li>Express.js</li>
          <li>JavaScript</li>
          <li>SQL</li>
          <li>Firebase</li>
          <li>MongoDB</li>
          <li>Docker</li>
          <li>GCP</li>
          <li>AWS</li>
          <li>Figma</li>
          <li>Adobe Software Suite</li>
        </ul>
        <h2>Education</h2>
        <ul>
          <li>
            BSc (Hons) in Software Engineering - Plymouth University, UK
            (Affiliated by NSBM University) (2021 - Present)
          </li>
          <li>
            IT Foundation Program - NSBM University, Sri Lanka (2020 – 2021)
          </li>
          <li>
            G.C.E. Ordinary Levels Examinations - Royal Institute International
            School (2015 - 2019)
          </li>
        </ul>
        <h2>Contact</h2>
        <ul>
          <li>Email: raminda5575@gmail.com</li>
          <li>Phone: +94 75-870 29 22</li>
          <li>
            LinkedIn:
            <a href="https://www.linkedin.com/in/raminda-dulmin/">
              linkedin.com/in/raminda-dulmin
            </a>
          </li>
          <li>
            GitHub:
            <a href="https://github.com/KADRDulmin"> github.com/KADRDulmin </a>
          </li>
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
